- var title = "Чаты";
- var searchSource = "сообщениям";
div(class=`tab-pane fade show h-100 mt-5 mx-4 ${isChatPage ? "active" : ""}` id="chats" role="tabpanel" aria-labelledby="pills-chats-tab")
    h2(class="h2 font-weight-bold") #{title}
    include search.pug
    ul(class="h-75 block-scrollable list-unstyled")
      each item in chats
          li(class="shadow mb-3")
              a(href=item.href class="chats-item media align-items-center p-3")
                  img(src=imagesPath + users[item.user].avatar class="avatar" alt=`Avatar`)
                  div(class="media-body ml-4 mr-3 my-2 overflow-hidden")
                      div(class="d-flex justify-content-between")
                          div(class="font-weight-bold m-0") #{users[item.user].first_name} #{users[item.user].last_name}
                          div(class="small text-muted") #{item.last_message.time}
                      div(class="small text-truncate") #{item.last_message.text}